<form name="simuladorForm" ng-submit="processForm()" novalidate class="col-xs-12 col-md-12">
  <h1>Simulación de Liquidación de Haberes</h1>
  <p>Controle su recibo de sueldo</p>
  <hr class="col-xs-12 col-md-12">
  <div class="form-group clearfix">
    <div class="col-xs-6 col-md-2">
      <label for="antiguedad">antiguedad</label>
    </div>
    <div class="col-xs-6 col-md-2">
      <select class="form-control"
          ng-model="formData.antiguedad"
          ng-options="option.value as option.year for option in ciVm.antiguedadOpt.meses"
          >
      </select>
    </div>
    <div class="col-xs-6 col-md-2">
      <label for="periodo">Periodo</label>
    </div>
    <div class="col-xs-6 col-md-2">
      <select class="form-control"
          ng-model="formData.periodo"
          ng-options="option.value as option.year for option in ciVm.periodosOpt.meses"
          >
      </select>
    </div>
  </div>
  <div class="form-group clearfix">
    <div class="col-xs-6 col-md-2">
      <label for="horas">Horas semanales</label>
    </div>
    <div class="col-xs-6 col-md-6">
      <input class="form-control" ng-model="formData.horas" type="number" name="horas" value="">
    </div>
  </div>
  <div class="form-group clearfix">
    <div class="col-xs-6 col-md-2">
      <label for="categoria">Categoria</label>
    </div>
    <div class="col-xs-6 col-md-6">
      <select class="form-control"
          ng-model="formData.categoria"
          ng-options="option.value as option.categoria for option in ciVm.categoria.tipo"
          >
      </select>
    </div>
  </div>
  <hr>
  <h3>Adicionales</h3>
  <div ng-switch="formData.categoria" class="clearfix">
    <div ng-switch-when="1" class="clearfix">
      <ul>
        <li>
          <input type="checkbox" ng-model="formData.adicionalTituloSecundario" name="titulo-secundario" value="">
          <label for="titulo-secundario">Adicional Título secundario</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.idioma" name="idioma" value="">
          <label for="idioma">Adicional Idioma</label>
        </li>
      </ul>
    </div>
    <div ng-switch-when="2" class="clearfix">
      <ul>
        <li>
          <input type="checkbox" ng-model="formData.adicionalTituloSecundario" name="titulo-secundario" value="">
          <label for="titulo-secundario">Adicional Título secundario</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.idioma" name="idioma" value="">
          <label for="idioma">Adicional Idioma</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.vehiculo" name="vehiculo" value="">
          <label for="vehiculo">Adicional Bicicleta o ciclomotor</label>
        </li>
      </ul>
    </div>
    <div ng-switch-when="3" class="clearfix">
      <ul>
        <li>
          <input type="checkbox" ng-model="formData.adicionalTituloSecundario" name="titulo-secundario" value="">
          <label for="titulo-secundario">Adicional Título secundario</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.idioma" name="idioma" value="">
          <label for="idioma">Adicional Idioma</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.idioma" name="idioma" value="">
          <label for="idioma">Adicional Idioma</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.cajero" name="cajero" value="">
          <label for="cajero">Adicional Cajero</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.faltante" name="faltante" value="">
          <label for="faltante">Adicional Faltante de Caja</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.adminTareas" name="tareas-administrativas" value="">
          <label for="tareas-administrativas">Adicional Tareas Administrativas y de Pefumería</label>
        </li>
      </ul>
    </div>
    <div ng-switch-when="4" class="clearfix">
      <ul>
        <li>
          <input type="checkbox" ng-model="formData.adicionalTituloSecundario" name="titulo-secundario" value="">
          <label for="titulo-secundario">Adicional Título secundario</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.idioma" name="idioma" value="">
          <label for="idioma">Adicional Idioma</label>
        </li>
      </ul>
    </div>
    <div ng-switch-when="5" class="clearfix">
      <ul>
        <li>
          <input type="checkbox" ng-model="formData.adicionalTituloSecundario" name="titulo-secundario" value="">
          <label for="titulo-secundario">Adicional Título secundario</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.idioma" name="idioma" value="">
          <label for="idioma">Adicional Idioma</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.tituloAuxFarm" name="auxiliar-farmacia" value="">
          <label for="auxiliar-farmacia">Adicional Título Auxiliar de Farmacia</label>
        </li>
      </ul>
    </div>
    <div ng-switch-when="6" class="clearfix">
      <ul>
        <li>
          <input type="checkbox" ng-model="formData.idioma" name="idioma" value="">
          <label for="idioma">Adicional Idioma</label>
        </li>
        <li><strong>Art 18 Inciso B Bloqueo de Titulo</strong> - no lleva antiguedad</li>
      </ul>
    </div>
    <div ng-switch-when="7" class="clearfix">
      <ul>
        <li>
          <input type="checkbox" ng-model="formData.idioma" name="idioma" value="">
          <label for="idioma">Adicional Idioma</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.tituloFarmaceutico" name="titulo-farmaceutico" value="">
          <label for="titulo-farmaceutico">Titulo Farmacéutico</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.tituloFarmaceuticoCB" name="titulo-farmaceutico-CB" value="">
          <label for="titulo-farmaceutico-CB">
            Título Farmacéutico auxiliar con bloqueo (para Pcia. de Buenos Aires) - No lleva antigüedad
          </label>
        </li>
      </ul>
    </div>
    <div ng-switch-when="8" class="clearfix">
      <ul>
        <li>
          <input type="checkbox" ng-model="formData.idioma" name="idioma" value="">
          <label for="idioma">Adicional Idioma</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.tituloFarmaceutico" name="titulo-farmaceutico" value="">
          <label for="titulo-farmaceutico">Titulo Farmacéutico</label>
        </li>
        <li>
          <input type="checkbox" ng-model="formData.tituloFarmaceuticoSB" name="titulo-farmaceutico-SB" value="">
          <label for="titulo-farmaceutico-SB">Título Farmacéutico auxiliar sin bloqueo (para CABA) - No lleva antigüedad</label>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="form-group clearfix">
    <div class="col-xs-6 col-md-2">
      <label for="extras-50">Extras 50%</label>
    </div>
    <div class="col-xs-6 col-md-2">
      <input class="form-control" ng-model="formData.extras50" type="number" name="extras-50" value="">
    </div>
  </div>
  <div class="form-group clearfix">
    <div class="col-xs-6 col-md-2">
      <label for="extras-100">Extras 100%</label>
    </div>
    <div class="col-xs-6 col-md-2">
      <input class="form-control" ng-model="formData.extras100" type="number" name="extras-100" value="">
    </div>
  </div>
  <div class="form-group clearfix">
    <div class="col-xs-6 col-md-2">
      <label for="nocturnas">Nocturnas</label>
    </div>
    <div class="col-xs-6 col-md-2">
      <input class="form-control" ng-model="formData.nocturnas" type="number" name="nocturnas" value="">
    </div>
  </div>
  <hr>
  <h3>Otros adicionales remunerativos</h3>
  <hr>
  <div class="form-group clearfix">
    <div class="col-xs-6 col-md-3">
      <input class="form-control" ng-model="formData.futurosAumentos" type="number" name="futuros-aumentos" value="">
    </div>
    <div class="col-xs-6 col-md-3">
      <input class="form-control" ng-model="formData.presentismo" type="number" name="presentismo" value="">
    </div>
    <div class="col-xs-6 col-md-3">
      <input class="form-control" ng-model="formData.asistencia" type="number" name="asistencia" value="">
    </div>
    <div class="col-xs-6 col-md-3">
      <input class="form-control" ng-model="formData.comisiones" type="number" name="comisiones" value="">
    </div>
  </div>
  <div class="form-group clearfix">
    <div class="col-xs-6 col-md-3">
      <label for="futuros-aumentos">A cuentas de futuros aumentos</label>
    </div>
    <div class="col-xs-6 col-md-3">
      <label for="presentismo">Presentismo / Puntualidad</label>
    </div>
    <div class="col-xs-6 col-md-3">
      <label for="asistencia">Asistencia</label>
    </div>
    <div class="col-xs-6 col-md-3">
      <label for="comisiones">Comisiones</label>
    </div>
  </div>
  <hr>
  <h3>Otros Adicionales NO Remunerativos</h3>
  <hr>
  <div class="form-group clearfix">
    <div class="col-xs-6 col-md-2">
      <label for="otros-remunerativos">Adicionales</label>
    </div>
    <div class="col-xs-6 col-md-2">
      <input class="form-control" ng-model="formData.otrosRemunerativos" type="number" name="otros-remunerativos" value="">
    </div>
  </div>
  <hr>
  <button type="submit" class="btn btn-success pull-right">Submit</button>
</form>
